In [21]:
import pandas as pd
import numpy as np

In [22]:
cols = ['gameid', 'league', 'year', 'game',
        'patch', 'side', 'position', 'teamname',
        'champion', 'ban1', 'ban2', 'ban3', 'ban4', 'ban5', 
        'gamelength', 'result', 'kills', 'deaths', 
        'assists', 'teamkills','teamdeaths', 'damagetochampions',
        'wardsplaced', 'wardskilled', 'controlwardsbought',
        'totalgold', 'total cs'
        ]

In [23]:
df_2021 = pd.read_csv(
    './data/2021_LoL_esports_match_data_from_OraclesElixir.csv', usecols=cols)
df_2020 = pd.read_csv(
    './data/2020_LoL_esports_match_data_from_OraclesElixir.csv', usecols=cols)
df_2019 = pd.read_csv(
    './data/2019_LoL_esports_match_data_from_OraclesElixir.csv', usecols=cols)
df_2018 = pd.read_csv(
    './data/2018_LoL_esports_match_data_from_OraclesElixir.csv', usecols=cols)
df_2022 = pd.read_csv(
    './data/2022_LoL_esports_match_data_from_OraclesElixir.csv', usecols=cols)
df_2022.head()

,gameid,league,year,game,patch,side,position,teamname,champion,ban1,...,deaths,assists,teamkills,teamdeaths,damagetochampions,wardsplaced,wardskilled,controlwardsbought,totalgold,total cs
0,ESPORTSTMNT01_2690210,LCK CL,2022,1,12.01,Blue,top,Fredit BRION Challengers,Renekton,Karma,...,3,2,9,19,15768.0,8.0,6.0,5.0,10934,231.0
1,ESPORTSTMNT01_2690210,LCK CL,2022,1,12.01,Blue,jng,Fredit BRION Challengers,Xin Zhao,Karma,...,5,6,9,19,11765.0,6.0,18.0,6.0,9138,148.0
2,ESPORTSTMNT01_2690210,LCK CL,2022,1,12.01,Blue,mid,Fredit BRION Challengers,LeBlanc,Karma,...,2,3,9,19,14258.0,19.0,7.0,7.0,9715,193.0
3,ESPORTSTMNT01_2690210,LCK CL,2022,1,12.01,Blue,bot,Fredit BRION Challengers,Samira,Karma,...,4,2,9,19,11106.0,12.0,6.0,4.0,10605,226.0
4,ESPORTSTMNT01_2690210,LCK CL,2022,1,12.01,Blue,sup,Fredit BRION Challengers,Leona,Karma,...,5,6,9,19,3663.0,29.0,14.0,11.0,6678,42.0

In [24]:
df = pd.concat([df_2022, df_2021, df_2020, df_2019, df_2018])

I only want the professional series games which include:

- LCK
- LPL
- LEC
- LCS
- LJL
- PCS
- VCS
- LLA
- LAS

In [25]:
df['league'].unique()

array(['LCK CL', 'LPL', 'NLC', 'SL', 'Proving Grounds Circuit', 'UL',
       'PRM', 'LCK', 'LFL', 'LEC', 'LCS', 'LFL2', 'GLL', 'HM', 'ESLOL',
       'EBL', 'LPLOL', 'PGN', 'LCSA', 'LVP DDH', 'TAL', 'TCL', 'CBLOL',
       'LCO', 'LHE', 'GL', 'EL', 'CBLOLA', 'LMF', 'VL', 'LLA', 'HC',
       'LDL', 'LJL', 'PCS', 'VCS', 'UPL', 'LCL', 'NEXO', 'EM', 'LAS',
       'MSI', 'LJLA', 'CT', 'WCS', 'CDF', 'IC', 'DC', 'KeSPA', 'CU', 'BL',
       'RCL', 'DL', 'UKLC', 'OTBLX', 'BIG', 'BM', 'UGP', 'GSG', 'HS',
       'AOL', 'NERD', 'EGL', 'NASG', 'SLO', 'OPL', 'BRCC', 'CK', 'OCS',
       'Riot', 'MSC', 'NEST', 'LMS', 'LGL', 'EU LCS', 'LLN', 'CLS',
       'NA LCS', 'TCS', 'LJLCS', 'CIS CL', 'GPL'], dtype=object)

In [26]:
print(f'Start shape: {df.shape}')
professional_leagues = set('LCK LPL LEC LCS LLA'.split())
df = df[df['league'].isin(professional_leagues)].reset_index(drop=True)
print(f'End shape: {df.shape}')

Start shape: (596762, 27)
End shape: (107606, 27)

In [27]:
df.isna().sum()

gameid                   48
league                    0
year                      0
game                      0
patch                     0
side                      0
position                  0
teamname                  0
champion              17936
ban1                     72
ban2                     42
ban3                    180
ban4                    132
ban5                    318
gamelength                0
result                    0
kills                     0
deaths                    0
assists                   0
teamkills                 0
teamdeaths                0
damagetochampions       216
wardsplaced             216
wardskilled             216
controlwardsbought      216
totalgold                60
total cs              16518
dtype: int64

We need to have champion in the final dataset so we'll remove any rows that dont have a champion

In [28]:
clean = df.dropna(subset=['champion', 'gameid', 'damagetochampions',
                          'wardsplaced', 'wardskilled', 'controlwardsbought',
                          'totalgold',
                          'total cs' ])
clean.head()

,gameid,league,year,game,patch,side,position,teamname,champion,ban1,...,deaths,assists,teamkills,teamdeaths,damagetochampions,wardsplaced,wardskilled,controlwardsbought,totalgold,total cs
0,8401-8401_game_1,LPL,2022,1.0,12.01,Blue,top,Oh My God,Gwen,Renekton,...,0,4,13,6,11188.0,7.0,5.0,3.0,9123.0,172.0
1,8401-8401_game_1,LPL,2022,1.0,12.01,Blue,jng,Oh My God,Jarvan IV,Renekton,...,1,13,13,6,4426.0,7.0,10.0,5.0,9041.0,145.0
2,8401-8401_game_1,LPL,2022,1.0,12.01,Blue,mid,Oh My God,Syndra,Renekton,...,0,5,13,6,12577.0,8.0,2.0,4.0,9928.0,212.0
3,8401-8401_game_1,LPL,2022,1.0,12.01,Blue,bot,Oh My God,Jinx,Renekton,...,1,6,13,6,9618.0,23.0,12.0,7.0,10778.0,199.0
4,8401-8401_game_1,LPL,2022,1.0,12.01,Blue,sup,Oh My God,Nautilus,Renekton,...,4,7,13,6,2276.0,34.0,4.0,13.0,6598.0,22.0

In [29]:
clean.isna().sum()

gameid                  0
league                  0
year                    0
game                    0
patch                   0
side                    0
position                0
teamname                0
champion                0
ban1                   60
ban2                   35
ban3                  150
ban4                  110
ban5                  265
gamelength              0
result                  0
kills                   0
deaths                  0
assists                 0
teamkills               0
teamdeaths              0
damagetochampions       0
wardsplaced             0
wardskilled             0
controlwardsbought      0
totalgold               0
total cs                0
dtype: int64

If banX is N/A, the team simply didn't ban for that slot and we will set it to None

In [30]:
clean.loc[:, ['ban1', 'ban2', 'ban3', 'ban4', 'ban5']
      ] = clean[['ban1', 'ban2', 'ban3', 'ban4', 'ban5']].fillna('None')
clean.loc[:, ['game']] = clean.loc[:, ['game']].fillna(0)
clean.isna().sum().sum()

0

## Now that we have no NA values, I'm going to build our tabular data
We want to be able to do the following:
- Kills per champion
- Deaths per champion
- Playrate per champion
- Gold difference for each team per year
- Win percentages for each team per year

In [31]:
clean = clean[clean['year'] < 2023]

In [32]:
team_year_counts = clean.groupby(['teamname'])['year'].nunique()
team_year_counts = team_year_counts[team_year_counts > 2]
team_greater_2_years = team_year_counts.index

In [33]:
team_win_percent_by_year = clean[clean['teamname'].isin(team_greater_2_years)].groupby(['year', 'league', 'teamname'])[['result']].mean().reset_index()
team_win_percent_by_year.to_csv('team_winperc_by_year.csv', index=False)

In [34]:
clean

,gameid,league,year,game,patch,side,position,teamname,champion,ban1,...,deaths,assists,teamkills,teamdeaths,damagetochampions,wardsplaced,wardskilled,controlwardsbought,totalgold,total cs
0,8401-8401_game_1,LPL,2022,1.0,12.01,Blue,top,Oh My God,Gwen,Renekton,...,0,4,13,6,11188.0,7.0,5.0,3.0,9123.0,172.0
1,8401-8401_game_1,LPL,2022,1.0,12.01,Blue,jng,Oh My God,Jarvan IV,Renekton,...,1,13,13,6,4426.0,7.0,10.0,5.0,9041.0,145.0
2,8401-8401_game_1,LPL,2022,1.0,12.01,Blue,mid,Oh My God,Syndra,Renekton,...,0,5,13,6,12577.0,8.0,2.0,4.0,9928.0,212.0
3,8401-8401_game_1,LPL,2022,1.0,12.01,Blue,bot,Oh My God,Jinx,Renekton,...,1,6,13,6,9618.0,23.0,12.0,7.0,10778.0,199.0
4,8401-8401_game_1,LPL,2022,1.0,12.01,Blue,sup,Oh My God,Nautilus,Renekton,...,4,7,13,6,2276.0,34.0,4.0,13.0,6598.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107599,ESPORTSTMNT06/830263,LCK,2019,3.0,8.17,Red,top,Team BattleComics,Jayce,Sion,...,1,6,15,15,26429.0,13.0,2.0,3.0,15906.0,323.0
107600,ESPORTSTMNT06/830263,LCK,2019,3.0,8.17,Red,jng,Team BattleComics,Camille,Sion,...,3,4,15,15,10066.0,10.0,15.0,10.0,12701.0,178.0
107601,ESPORTSTMNT06/830263,LCK,2019,3.0,8.17,Red,mid,Team BattleComics,Galio,Sion,...,2,6,15,15,14097.0,20.0,5.0,9.0,14502.0,286.0
107602,ESPORTSTMNT06/830263,LCK,2019,3.0,8.17,Red,bot,Team BattleComics,Xayah,Sion,...,5,6,15,15,16808.0,11.0,14.0,3.0,14402.0,312.0
107603,ESPORTSTMNT06/830263,LCK,2019,3.0,8.17,Red,sup,Team BattleComics,Morgana,Sion,...,4,11,15,15,10282.0,60.0,14.0,17.0,9883.0,17.0

In [35]:
champ_wins_by_year = clean.groupby(['champion'])[
    ['result', 'kills', 'deaths', 'assists']].mean().reset_index()
champ_wins_by_year

    champion    result     kills    deaths   assists
0     Aatrox  0.483390  2.396610  2.453559  4.074576
1       Ahri  0.513462  3.267308  1.865385  6.140385
2      Akali  0.534910  3.990991  2.264640  3.971847
3     Akshan  0.473684  2.736842  2.789474  3.368421
4    Alistar  0.505155  0.677191  3.014175  7.999356
..       ...       ...       ...       ...       ...
154     Zeri  0.555789  4.471579  1.825263  4.875789
155    Ziggs  0.468750  2.432292  2.213542  5.255208
156   Zilean  0.503597  1.460432  1.705036  7.115108
157      Zoe  0.498914  3.018103  1.763939  4.899348
158     Zyra  0.111111  1.222222  3.777778  5.555556

[159 rows x 5 columns]

## Build our geo-json dataset
We want to be able to do the following
- Teams that win the most in each region
- Champions that win the most in each region
- Champions that lose the most in each region

In [50]:
regional_data = clean.groupby(['gameid', 'league', 'year'])[['deaths', 'assists', 'kills', 'damagetochampions', 'wardsplaced', 'wardskilled', 'controlwardsbought', 'totalgold', 'total cs']].sum().reset_index()

In [51]:
regional_data = regional_data.groupby(['league', 'year'])[['deaths', 'assists', 'kills', 'damagetochampions', 'wardsplaced', 'wardskilled', 'controlwardsbought', 'totalgold', 'total cs']].mean()
regional_data

                deaths    assists      kills  damagetochampions  wardsplaced
league year
LCK    2018  18.060852  45.243408  18.040568      129520.371197   311.190669  \
       2019  21.363636  49.870707  21.301010      114230.157576   271.248485
       2020  22.965932  53.813627  22.913828      119647.380762   246.569138
       2021  24.132924  55.380368  24.079755      126505.672802   254.625767
       2022  23.134904  54.357602  23.098501      129129.441113   242.571734
LCS    2018  25.500000  59.250000  25.375000      140486.500000   211.875000
       2019  22.281633  53.065306  22.248980      125546.077551   237.408163
       2020  22.818182  54.643939  22.799242      127292.518939   227.912879
       2021  25.400000  59.568116  25.310145      124294.997101   222.779710
       2022  24.009804  56.754902  23.964052      130061.209150   213.264706
LEC    2018  20.785714  52.785714  20.785714      129303.571429   256.357143
       2019  25.957983  55.890756  25.915966      117537.281513   222.781513
       2020  25.481328  57.477178  25.414938      124840.390041   229.763485
       2021  27.761134  62.801619  27.708502      126671.955466   218.987854
       2022  26.543210  62.234568  26.489712      138035.181070   219.366255
LLA    2019  23.235577  52.721154  23.197115      121859.245192   234.966346
       2020  21.845238  50.630952  21.797619      124743.708333   244.672619
       2021  27.603774  63.943396  27.584906      133942.270440   230.899371
       2022  27.307317  63.965854  27.248780      132997.565854   216.331707
LPL    2018  23.552408  57.412181  23.522663      127524.296034   257.504249
       2019  25.936434  59.601550  25.886822      119507.186047   220.520930
       2020  26.351573  62.835841  26.314637      123857.365253   219.729138
       2021  26.509563  61.327869  26.474044      122860.366120   209.039617
       2022  26.279898  61.044529  26.240458      129236.220102   210.468193

             wardskilled  controlwardsbought      totalgold     total cs
league year
LCK    2018   136.225152          100.403651  131234.503043  2636.839757
       2019   123.262626          101.965657  121869.579798  2316.511111
       2020   118.633267           97.985972  114510.268537  2157.737475
       2021   125.065440          101.844581  118727.957055  2248.842536
       2022   120.047109          101.119914  119612.798715  2206.873662
LCS    2018    76.250000           88.625000  117324.750000  2242.500000
       2019   102.787755           91.677551  122308.175510  2253.302041
       2020   100.931818           88.280303  118772.170455  2201.522727
       2021    99.698551           85.547826  116857.420290  2158.742029
       2022    99.117647           80.728758  117615.457516  2161.888889
LEC    2018   104.071429          100.571429  122468.857143  2374.071429
       2019    91.655462           84.151261  117754.369748  2111.953782
       2020    93.937759           87.385892  117655.265560  2141.004149
       2021    90.967611           82.562753  116588.048583  2116.076923
       2022   100.135802           81.613169  119065.769547  2128.069959
LLA    2019    97.533654           90.014423  121326.802885  2204.250000
       2020   111.464286           98.494048  121636.404762  2256.351190
       2021   102.867925           92.786164  118104.150943  2132.025157
       2022    99.117073           88.375610  116924.351220  2100.356098
LPL    2018   108.872521           84.869688  122797.698300  2346.686969
       2019    99.941085           82.854264  117232.857364  2100.758140
       2020   103.760602           84.477428  113667.232558  2038.421341
       2021    99.166667           79.937158  111739.659836  2054.588798
       2022   104.380407           82.349873  114339.592875  2053.611959

## Build our node data
We want to be able to do the following:
- champion playrate with each other
- champion win percentage with each other

In [38]:
import itertools

In [39]:
# Create a new DataFrame by grouping the original DataFrame by 'gameid' and 'side'
grouped_df = clean.groupby(['gameid', 'side'])

# Create an empty dictionary to store champion pairs and their counts
champion_pairs = {}
champion_pairs_wins = {}

# Iterate over the grouped DataFrame
for group_name, group_data in grouped_df:

    # Extract the champions in the current group
    champions = group_data['champion'].unique()

    # Generate all possible combinations of champions
    combinations = list(itertools.combinations(champions, 2))

    # Increment the count for each champion pair
    for pair in combinations:
        if pair in champion_pairs:
            champion_pairs[pair] += 1
            champion_pairs_wins[pair] += group_data['result'].iloc[0]
        else:
            champion_pairs[pair] = 1
            champion_pairs_wins[pair] = group_data['result'].iloc[0]

# Create a new DataFrame from the champion_pairs dictionary
champion_pairs_df = pd.DataFrame(champion_pairs.items(), columns=[
                                 'champion_pair', 'count']).sort_values('count', ascending=False)

# Find the champion pair playrate
champion_plays = clean.groupby(['champion'])['side'].count()

def calc_playrate(pair, comb_plays):
    return (comb_plays / (champion_plays[list(pair)].sum() - comb_plays))


# Divide the champion pairs df by the sum of the times each individual champion was played
champion_pairs_df['playrate'] = champion_pairs_df.apply(
    lambda x: calc_playrate(x[0], x[1]), axis=1)

In [40]:
champion_pairs_df = champion_pairs_df.reset_index(drop=True)
champion_pairs_df.head()

          champion_pair  count  playrate
0        (Xayah, Rakan)    653  0.310214
1    (Aphelios, Thresh)    500  0.171644
2  (Aphelios, Nautilus)    381  0.105453
3   (Varus, Tahm Kench)    353  0.113141
4     (Kai'Sa, Alistar)    341  0.114200

In [25]:
champion_pair_wins = pd.DataFrame(champion_pairs_wins.items(), columns=[
    'champion_pair', 'wins']).sort_values('wins', ascending=False)
node_data = pd.merge(champion_pairs_df, champion_pair_wins,
                     how='left', on='champion_pair')
node_data['winrate'] = node_data['wins'] / node_data['count']
node_data[['champ1', 'champ2']
          ] = node_data['champion_pair'].apply(pd.Series)

In [26]:
node_data[node_data.columns[1:]].to_csv('node_data.csv', index=False)